.profilepic {
  background-image: url(../../public/images/profilepic.jpg);
  background-size: cover;
  border: 1.2px solid var(--primary);
  border-radius: 100%;
  box-shadow: 0.2rem 0.2rem 0px 0px var(--primary),
    0.2rem 0.2rem 0 0.1rem var(--primary);
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 600px) {
    width: 100px;
    height: 100px;
  }
  @media (max-width: 400px) {
    display: none;
  }
}

.link {
  width: 230px;
  height: 230px;
  color: transparent;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  &:hover {
    background-color: var(--primary-transparent);
    // background-image: url(../../public/images/resume.svg);
    color: white !important;
    font-size: 30px;
    font-weight: bold;
  }
  @media (max-width: 600px) {
    width: 130px;
    height: 130px;
  }
}