.profilepic {
  background-image: url(../../public/profilepic.jpg);
  background-size: cover;
  border: 1.2px solid var(--primary);
  border-radius: 100%;
  box-shadow: -0.4em 0.4em 0px var(--primary);
  width: 15em;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.link {
  width: 102%;
  height: 102%;
  color: transparent;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  &:hover {
    background-color: var(--primary-transparent);
    color: white !important;
    font-size: 30px;
    font-weight: bold;
  }
}