.main {
  padding: 100px 150px;

  @media (max-width: 768px) {
    padding: 100px 50px;
  }
  @media (max-width: 480px) {
    padding: 100px 25px;
  }
}

.sidebar {
  @media (max-width: 768px) {
    display: none;
  }
}