
.title {
  width: 100%;
  text-align: left;
}

.content {
  width: 100%;
  text-align: left;
  padding: 0px;
}

.projectdetails {
  padding-right: 2rem;
  padding-left: 2rem;
}

.logos {
  display: flex;
}
