
.title {
  width: 100%;
  text-align: left;
}

.title::first-letter {
  text-transform:capitalize;
}

.description {
  width: 100%;
  text-align: left;
  padding: 0px;
}


.logos {
  display: flex;
  padding-top: 1rem;
}

.logo {
  margin-right: 1rem;
}

@media (max-width: 600px) {
  .title, .description, .languages, .logos  {
    padding: 0px 40px;
  }

}