
.title {
  width: 100%;
  text-align: left;
}

.title::first-letter {
  text-transform:capitalize;
}

.description {
  width: 100%;
  text-align: left;
  padding: 0px;
}

.projectdetails {
  padding-right: 2rem;
}

.logos {
  display: flex;
  padding-top: 1rem;
}

.logo {
  margin-right: 1rem;
}