.box {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  display: grid;
  place-items: center;
}

.targets {
  position: absolute;
  width: 500%;
  display: flex;
}

.stage {
  width: 100%;
  height: 100vh;
}
