.container {
  height: 100%;
  width: 100%;
}

.select {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 100px;
}

.buttons {
  display: flex;
  margin-top: 2em;
  flex-direction: column;
  height: 200px;
  width: 100px;
  justify-content: space-between;
}

.button {
  margin-right: 40px;
}

.title {
  padding: 25px 100px 0px 100px;
  margin: 0px;
  margin-bottom: 0px;
}


.projectcontainer {
  display: flex;
  align-items: center;
  padding: 0px 50px 0px 50px;
}

@media (max-width: 880px) {
  .title,
  .buttons {
    padding: 0px 40px;
  }

  .button {
    margin-right: 20px;
  }

  .project {
    margin-top: 2em;
    width: 100%;
  }

  .select {
    flex-direction: column;
    padding-left: 40px;
    align-items: flex-start;
    width: 94vw;
  }

  .buttons {
    flex-direction: row;
    padding-left: 0px !important;
    height: 40px;
  }

  .projectcontainer {
    flex-direction: column-reverse;
    padding: 0px
  }
}
