.container {
  border-top: 1px solid var(--primary);
  margin-top: 50px;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  @media (max-width: 600px) {
    width: 100%;
  }
}