.container {
  border-bottom: 1px solid var(--primary);
  height: var(--section-height);
}

.title {
  width: 100%;
  padding: 25px 100px 0px 100px;
  text-align: left;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 25px 100px 0px 100px;
}

.text {
  width: 70%;
  padding-right: 50px;
  text-align: left;
  font-size: 1.5vw !important;
  text-align: justify;
}

.texts {
  display: flex;
  flex-direction: column;
}


@media (max-width: 1000px) {
  .content, .title {
    padding: 0px 50px 0px 50px;
    flex-direction: column;
  }
  .text {
    width: 90%;
    font-size: 2vw !important;
  }
}

@media (max-width: 768px) {

  .text {
    width: 100%;
    font-size: 2.8vw !important;
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  .title {
    padding: 0px 40px;
  }

  .text {
    width: 100%;
    padding-right: 0;
    font-size: 3vw !important;
    text-align: justify;
  }

  .content {
    flex-direction: column;
    padding: 0px 40px;
  }

  .containerpic {
    width: 100%;
    display: block;
    justify-content: center;
  }

}

@media (max-width: 500px) {
  .text {
    font-size: 3.5vw !important;
    width: 80%;
  }
}

@media (max-width: 400px) {
  .text {
    font-size: 4vw !important;
    width: 80%;
  }
}
