.container {
  height: 100%;
}

.title {
  width: 100%;
  text-align: left;
  padding: 0px 40px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
}

.text {
  text-align: left;
  font-size: 3.8vw !important;
  text-align: justify;
  width: 100%;
  padding-right: 0;
  margin-top: 0px;
}

@media (min-width: 601px) and (max-width: 800px) {
  .text {
    font-size: 2.5vw !important;
  }
}


@media (min-width: 601px) and (max-width: 1100px) {
  .container {
    padding-top: 2rem;
  }

  .title {
    padding: 0px 50px;
    margin-top: 0px;
  }

  .content {
    padding: 0px 50px;
  }
}

@media (min-width: 801px) {

  .text {
    font-size: 2vw !important;
  }
}

@media (min-width: 1100px) {
  .container {
    padding-top: 2rem;
  }
  .title {
    padding: 25px 100px 0px 100px;
  }

  .text {
    font-size: 1.5vw !important;
    padding-right: 40px;
  }

  .content {
    flex-direction: row;
    padding: 0px 100px 0px 100px;
  }
}

@media (max-width: 880px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}