.projectpic {
  background-image: url(../../public/profilepic.jpg);
  background-size: cover;
  border: 1.2px solid var(--primary);
  box-shadow: -0.4em 0.4em 0px var(--primary);
  margin-top: 50px;
  margin-left: 2rem;
  width: 430px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 600px) {
    width: 100%;
    height: 200px;
    margin-left: 0px;
  }
}

.link {
  width: 100%;
  height: 100%;
  color: transparent;
  display: flex !important;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: var(--primary-transparent);
    color: white !important;
    font-size: 30px;
    font-weight: bold;
  }
}