.container {
  height: calc(100vh - 100px);
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid var(--primary);
  width: 100%;
}

.title {
  width: 100%;
  text-align: left;
  padding: 0px 100px 0px 100px;
  color: red;
}

.content {
  width: 50%;
  font-size: 150%;
  text-align: left;
  padding: 0px 100px 0px 100px;
}

.button {
  padding: 50px 100px 0px 100px;
  
}

@media (max-width: 600px) {
  .title {
    padding: 0px 40px;
    margin-top: 0px;
  }

  .content {
    padding: 0px 40px;
  }
}
